@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div>
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" name="id" id="exampleInputid" aria-describedby="idHelp" hidden>
            <input type="text" class="form-control" name="name1" id="exampleInputName" aria-describedby="emailHelp" placeholder="EnterName">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="email" class="form-control" name="email1" id="exampleInputEmail" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label>Select City</label>
            <select class="form-control" name="city1">
                <option>Lucknow</option>
                <option>delhi</option>
                <option>noida</option>
                <option>chennai</option>
                <option>mumbai</option>
            </select>
        </div>
        <div>
            <label> I have a vehicle</label><br>
            Car: <input type="checkbox" name="vehicle2" value="Car" id="check_id1">
            Bike: <input type="checkbox" name="vehicle1" value="Bike" id="check_id2">
        </div>
        <button type="submit" id="subBtn" class="btn btn-primary">Submit</button>
    </div>
    <table class="table" id="tbUser">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">City</th>
                <th scope="col">Vehicle</th>
                <th scope="col">Action</th>              
                <th scope="col">Edit</th>              
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        debugger 
        $.post("Home/GetData")
            .done(function (result) {
                debugger
                console.log(result);
                if (result) { 
                    for (let i = 0; i < result.length; i++) {
                        $('#tbUser').find('tbody')
                            .append(`<tr><td>${result[i].Id}</td>
                                        <td>${result[i].Name}</td>
                                        <td>${result[i].Email}</td>
                                        <td>${result[i].City}</td>
                                        <td>${result[i].Vehicle}</td>
                                        <td><button type="button" id="del" class="btn btn-sm-danger" onclick="Delete(${result[i].Id})"><i class="btn btn-danger fas fa-trash"></i></button></td>
                                        <td><button type="button" id="edit" class="btn btn-sm-primary" onclick="Edit(${result[i].Id})"><i class="fa-solid fa-pen-to-square"></i></button></td>
                                      </tr>`)
                    }
                }
            });

        //if ($("#subBtn").text() == "Update") {
        //    debugger
        $('#subBtn').click(function () {
            debugger
            if ($("#subBtn").text() == "Update") {
                var id = $('input[name="id"]').val();
                var name = $('input[name="name1"]').val();
                var email = $('input[name="email1"]').val();
                var city = $('select[name="city1"]').val();
                if ($('#check_id2' || '#check_id1').is(":checked")) {
                    var vehicle = $('#check_id2' || '#check_id1').val();
                }
                else if ($('#check_id1').is(":checked")) {
                    var vehicle = $("#check_id1").val();
                }
                else if ($('#check_id2').is(":checked")) {
                    var vehicle = $("#check_id2").val();
                }
                else {
                    a = "Plz Check"
                    alert(a);
                    return false;
                }
                $.post("Home/Update", { id, name, email, city, vehicle }).done();
                console.log(city);
                location.reload();
            }  
        else {
                var name = $('input[name="name1"]').val();
                var email = $('input[name="email1"]').val();
                var city = $('select[name="city1"]').val();
                if ($('#check_id2' || '#check_id1').is(":checked")) {
                    var vehicle = $('#check_id2' || '#check_id1').val();
                }
                else if ($('#check_id1').is(":checked")) {
                    var vehicle = $("#check_id1").val();
                }
                else if ($('#check_id2').is(":checked")) {
                    var vehicle = $("#check_id2").val();
                }
                else {
                    a = "Plz Check"
                    alert(a);
                    return false;
                }
                $.post("Home/AddData", { name, email, city, vehicle }).done();
                var rowcount = $('tbody tr').length;
                $('tbody').append('<tr data-rowcount = ' + rowcount + '><td>' + (rowcount + 1) + '</td>' +
                    '<td>' + name + '</td>' +
                    '<td>' + email + '</td>' +
                    '<td>' + city + '</td>' +
                    '<td>' + vehicle + '</td>' +
                    '<td><button type="button" id="del" class="btn btn-sm-danger"><i class="btn btn-danger fas fa-trash"></i></button></td></tr>');
                console.log(city);
                location.reload();
            }
        });
      
        
        //$("#tbUser").on('click', '#del', function () {
        //   // $(this).closest('tr').remove();
        //   // $.post("DelData", { this.Id }).done(function (result){

        //  //  })
        //});
    });
    var Delete = function (Id) {
        $.post('Home/DelData', { Id: Id }).done();
    }
    var Edit = function (Id) {
        debugger
        $.post('Home/EditData', { Id: Id }).done(function (result) {
            console.log(result);
            $('input[name="id"]').val(result.Id);
            $('input[name="name1"]').val(result.Name);
            $('input[name="email1"]').val(result.Email);
            $('select[name="city1"]').val(result.City);
            $('#subBtn').text("Update");
        });
    }
</script>